@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

@media (min-width:700px) {
  .App{
    display: flex;
  }
}

html{
  width: 100vw;
  overflow: hidden;
}
